<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-N2E060C3LF"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());
  gtag('config', 'G-N2E060C3LF');
</script>
    <link rel="icon" href="img/favicon.ico">
    <link type="text/css" href="stylesheets/html5reset-1.6.1.css" rel="stylesheet" />
    <link type="text/css" href="stylesheets/common.css" rel="stylesheet" />
    <link type="text/css" href="stylesheets/header.css" rel="stylesheet" />
    <link type="text/css" href="stylesheets/main/analysis.css" rel="stylesheet" />
    <link type="text/css" href="stylesheets/footer.css" rel="stylesheet" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.min.js" integrity="sha512-s+xg36jbIujB2S2VKfpGmlC3T5V2TF3lY48DX7u2r9XzGzgPsa6wTpOQA7J9iffvdeBN0q9tKzRxVxw1JviZPg==" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.min.js" integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.27.0/moment.min.js" integrity="sha512-rmZcZsyhe0/MAjquhTgiUcb4d9knaFc7b5xAfju483gbEXTkeJRUMIPk6s3ySZMYUHEcjKbjLjyddGWMrNEvZg==" crossorigin="anonymous"></script>
    <script src="js/graphData.js" ></script>
    <script src="js/analysis.js" ></script>
    <title>なろ研｜分析</title>
  </head>
  <body class="analysis">
    <header>
      <section class="header_content">
        <h1><a href="/"><img src="img/logo.png" alt="なろ研" class="logoImg" /></a></h1>
        
        <!-- ▼ global-navigation ▼ -->
        <input type="checkbox" id="nav">
        
        <label for="nav" class="nav-label">
          <span class="nav-icon">
            <span class="nav-icon_item"></span>
            <span class="nav-icon_item"></span>
            <span class="nav-icon_item"></span>
        </label>

        <nav class="nav-list">

          <div class="nav-list_wrap">

            <div class="nav-list_menu">
              <ul class="nav-list_items">
                <li class="nav-list_item"><a class="nav-list_link" href="/">ホーム</a></li>
                <li class="nav-list_item"><a class="nav-list_link" href="/analysis">分析</a></li>
                <li class="nav-list_item"><a class="nav-list_link" href="/ranking">ランキング</a></li>
                <li class="nav-list_item"><a class="nav-list_link" href="/author_list">作者一覧</a></li>
                <li class="nav-list_item"><a class="nav-list_link" href="/masterpiece_list">作品一覧</a></li>
                <li class="nav-list_item"><a class="nav-list_link" href="/contact">お問い合わせ</a></li>
              </ul>
            </div>
            <div class="sns_link">
              <a href="javascript:window.open('http://www.facebook.com/sharer.php?u='+encodeURIComponent(location.href),'sharewindow','width=550, height=450, personalbar=0, toolbar=0, scrollbars=1, resizable=!');">
                <img src="img/sns/facebook-icon.png" alt="facebook" />
              </a>
              <a href="javascript:window.open('http://twitter.com/share?text='+encodeURIComponent(document.title)+'&url='+encodeURIComponent(location.href),'sharewindow','width=550, height=450, personalbar=0, toolbar=0, scrollbars=1, resizable=!');">
                <img src="img/sns/twitter-icon.png" alt="twitter" />
              </a>
              <a href="javascript:window.open('http://line.me/R/msg/text/?'+encodeURIComponent(document.title)+'%20'+encodeURIComponent(location.href),'sharewindow','width=550, height=450, personalbar=0, toolbar=0, scrollbars=1, resizable=!');">
                <img src="img/sns/line-icon.png" alt="line" />
              </a>
            </div>
            
          </div>

        </nav>

        <!-- ▲ global-navigation ▲ -->

      </section>
    </header>
    <main>
      <div class="main_content">
        <section class="informing_block informing_title">
  <h2>分析</h2>
  <div class="overview">
    <p>日々のデータを基に集計し、<br class="sp-only">グラフを表示しています。<br>
    各値は平均値を使用しているため、<br class="sp-only">実際の値とは異なる可能性があります。</p>
  </div>
</section>
        <section class="content_area">
  <div class="content_block content_block_bg_color">
    <h3>前日24時間更新件数グラフ</h3>
    <canvas id="before_update_chart"></canvas>
  </div>
</section>
<section class="content_area">
  <div class="content_block content_block_bg_color">
    <h3>ジャンル投稿数グラフ</h3>
    <canvas id="genre_posts_chart"></canvas>
  </div>
</section>
<section class="content_area">
  <div class="content_block content_block_bg_color">
    <h3>各ジャンル人気度・投稿数の相対関係</h3>
    <canvas id="popularity_genre_chart"></canvas>
  </div>
</section>
<section class="content_area">
  <div class="content_block content_block_bg_color">
    <h3>長編小説平均文字数グラフ</h3>
    <canvas id="long_length_chart"></canvas>
  </div>
</section>
<section class="content_area">
  <div class="content_block content_block_bg_color">
    <h3>短編小説平均文字数グラフ</h3>
    <canvas id="short_length_chart"></canvas>
  </div>
</section>
      </div>
    </main>
    <footer>
      <div class="footer_content">

  <div class="menu_area">
    <nav class="regular">
      <ul>
        <li><a href="index.html" class="menu_link">ホーム</a></li>
        <li><a href="analysis.html" class="menu_link">分析</a></li>
        <li><a href="ranking.html" class="menu_link">ランキング</a></li>
        <li><a href="author_list.html" class="menu_link">作者一覧</a></li>
        <li><a href="masterpiece_list.html" class="menu_link">作品一覧</a></li>
        <li><a href="contact.html" class="menu_link">お問い合わせ</a></li>
      </ul>
    </nav>
  </div>
  <img class="footer_logo" border="0" src="img/logo.png" alt="logo">
  <p>© 2019 NAROKEN</p>
</div>
    </footer>
  </body>
</html>