<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async="" src="https://www.googletagmanager.com/gtag/js?id=G-N2E060C3LF"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag() { dataLayer.push(arguments); }
    gtag('js', new Date());
    gtag('config', 'G-N2E060C3LF');
  </script>
  <link rel="icon" href="img/favicon.ico">
  <link type="text/css" href="stylesheets/html5reset-1.6.1.css" rel="stylesheet" />
  <link type="text/css" href="stylesheets/common.css" rel="stylesheet" />
  <link type="text/css" href="stylesheets/header.css" rel="stylesheet" />
  <link type="text/css" href="stylesheets/main/details.css" rel="stylesheet">
  <link type="text/css" href="stylesheets/footer.css" rel="stylesheet" />
  <script src="https://code.jquery.com/jquery-3.5.1.min.js"
    integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous"></script>
  <script src="/public/javascripts/details.js"></script>
  <title>なろ研｜作者詳細</title>
</head>

<body>
  <header>
    <section class="header_content">
      <h1><a href="/"><img src="img/logo.png" alt="なろ研" class="logoImg" /></a></h1>
      <!-- ▼ global-navigation ▼ -->
      <input type="checkbox" id="nav">

      <label for="nav" class="nav-label">
        <span class="nav-icon">
          <span class="nav-icon_item"></span>
          <span class="nav-icon_item"></span>
          <span class="nav-icon_item"></span>
      </label>
      <nav class="nav-list">
        <div class="nav-list_wrap">
          <div class="nav-list_menu">
            <ul class="nav-list_items">
              <li class="nav-list_item"><a class="nav-list_link" href="/">ホーム</a></li>
              <li class="nav-list_item"><a class="nav-list_link" href="/analysis">分析</a></li>
              <li class="nav-list_item"><a class="nav-list_link" href="/ranking">ランキング</a></li>
              <li class="nav-list_item"><a class="nav-list_link" href="/author_list">作者一覧</a></li>
              <li class="nav-list_item"><a class="nav-list_link" href="/masterpiece_list">作品一覧</a></li>
              <li class="nav-list_item"><a class="nav-list_link" href="/contact">お問い合わせ</a></li>
            </ul>
          </div>
          <div class="sns_link">
            <a
              href="javascript:window.open('http://www.facebook.com/sharer.php?u='+encodeURIComponent(location.href),'sharewindow','width=550, height=450, personalbar=0, toolbar=0, scrollbars=1, resizable=!');">
              <img src="img/sns/facebook-icon.png" alt="facebook" />
            </a>
            <a
              href="javascript:window.open('http://twitter.com/share?text='+encodeURIComponent(document.title)+'&url='+encodeURIComponent(location.href),'sharewindow','width=550, height=450, personalbar=0, toolbar=0, scrollbars=1, resizable=!');">
              <img src="img/sns/twitter-icon.png" alt="twitter" />
            </a>
            <a
              href="javascript:window.open('http://line.me/R/msg/text/?'+encodeURIComponent(document.title)+'%20'+encodeURIComponent(location.href),'sharewindow','width=550, height=450, personalbar=0, toolbar=0, scrollbars=1, resizable=!');">
              <img src="img/sns/line-icon.png" alt="line" />
            </a>
          </div>
        </div>
      </nav>
      <!-- ▲ global-navigation ▲ -->
    </section>
  </header>
  <main>
    <div class="main_content">
      <section class="informing_block informing_title">
        <h2>水無月冬弥さんの作品一覧</h2>
      </section>
      <section class="content_area">
        <div class="content_block details_cards">
          <div class="data_card">
            <div class="data_card_content">
              <div class="card_title">
                <p><a
                    href="http://ncode.syosetu.com/N7122GP">老害勇者パーティから追放された荷物持ち、実は《加護の勇者》でした。勇者たちが「ざまあ」になる中、「え、そうなんですか？」と首を捻りつつハーレムパーティで無双する！</a>
                </p>
              </div>
            <div class="card_layout">
              <div class="card_layout_item">
                <ul class="card_details">
                    <li class="card_details_list">
                      <span class="card_details_title">文字数</span><span class="card_details_value">4,049,966字</span>
                    </li>
                    <li class="card_details_list">
                      <span class="card_details_title">ブックマーク</span><span class="card_details_value">3,663件</span>
                    </li>
                    <li class="card_details_list">
                      <span class="card_details_title">読了時間</span><span class="card_details_value">10分</span>
                    </li>
                    <li class="card_details_list">
                      <span class="card_details_title">レビュー数</span><span class="card_details_value">0件</span>
                    </li>
                    <li class="card_details_list">
                      <span class="card_details_title">総合評価</span><span class="card_details_value">10,318pt</span>
                    </li>
                    <li class="card_details_list">
                      <span class="card_details_title">挿絵の数</span><span class="card_details_value">0点</span>
                    </li>
                    <li class="card_details_list">
                      <span class="card_details_title">評価点</span><span class="card_details_value">0pt</span>
                    </li>
                    <li class="card_details_list">
                      <span class="card_details_title">会話率</span><span class="card_details_value">48%</span>
                    </li>
                    <li class="card_details_list">
                      <span class="card_details_title">評価者数</span><span class="card_details_value">0人</span>
                    </li>
                    <li class="card_details_list">
                      <span class="card_details_title">Nコード</span><span class="card_details_value">N7122GP</span>
                    </li>
                </ul>
              </div>
              <div class="card_layout_item">
                <div class="card_data">
                  <div class="card_data_col">
                    <p class="card_category">ハイファンタジー〔ファンタジー〕</p>
                    <p class="card_length">長編小説</p>
                    <p class="card_doing">連載中</p>
                  </div>
                  <p class="update-date"><span>最終更新</span><span>2020年11月19日 20:47:08</span></p>
                  <p class="start-date"><span>初回掲載</span><span>2020年11月18日 00:32:10</span></p>
                </div>
                <div class="card_keyword">
                  <p class="card_keyword_title">登録キーワード</p>
                  <div class="keyword_item_list">
                    <span class="tags tag_name">R15</span>
                    <span class="tags tag_name">残酷な描写あり</span>
                    <span class="tags tag_name">男主人公</span>
                    <span class="tags tag_name">西洋</span>
                    <span class="tags tag_name">ハーレム</span>
                    <span class="tags tag_name">ハッピーエンド</span>
                    <span class="tags tag_name">チート</span>
                    <span class="tags tag_name">無双</span>
                    <span class="tags tag_name">ざまあ</span>
                    <span class="tags tag_name">ファンタジー</span>
                    <span class="tags tag_name">魔法</span>
                    <span class="tags tag_name">バトル</span>
                  </div>
                </div>
              </div>
            </div>
            </div>
          </div>
          <div class="data_card">
            <div class="data_card_content">
              <div class="card_title">
                <p><a
                    href="http://ncode.syosetu.com/N7122GP">悪役（じゃない）令嬢が「ざまあ」できない婚約破棄～イケメン宮廷魔術師の大誤算～</a>
                </p>
              </div>
            <div class="card_layout">
              <div class="card_layout_item">
                <ul class="card_details">
                  <li class="card_details_list">
                    <span class="card_details_title">文字数</span><span class="card_details_value">4,049,966字</span>
                  </li>
                  <li class="card_details_list">
                    <span class="card_details_title">ブックマーク</span><span class="card_details_value">3,663件</span>
                  </li>
                  <li class="card_details_list">
                    <span class="card_details_title">読了時間</span><span class="card_details_value">10分</span>
                  </li>
                  <li class="card_details_list">
                    <span class="card_details_title">レビュー数</span><span class="card_details_value">0件</span>
                  </li>
                  <li class="card_details_list">
                    <span class="card_details_title">総合評価</span><span class="card_details_value">10,318pt</span>
                  </li>
                  <li class="card_details_list">
                    <span class="card_details_title">挿絵の数</span><span class="card_details_value">0点</span>
                  </li>
                  <li class="card_details_list">
                    <span class="card_details_title">評価点</span><span class="card_details_value">0pt</span>
                  </li>
                  <li class="card_details_list">
                    <span class="card_details_title">会話率</span><span class="card_details_value">48%</span>
                  </li>
                  <li class="card_details_list">
                    <span class="card_details_title">評価者数</span><span class="card_details_value">0人</span>
                  </li>
                  <li class="card_details_list">
                    <span class="card_details_title">Nコード</span><span class="card_details_value">N7122GP</span>
                  </li>
              </ul>
              </div>
              <div class="card_layout_item">
                <div class="card_data">
                  <div class="card_data_col">
                    <p class="card_category">ハイファンタジー〔ファンタジー〕</p>
                    <p class="card_length">短編小説</p>
                    <p class="card_doing">完結済</p>
                  </div>
                  <p class="update-date"><span>最終更新</span><span>2020年11月19日 20:47:08</span></p>
                  <p class="start-date"><span>初回掲載</span><span>2020年11月18日 00:32:10</span></p>
                </div>
                <div class="card_keyword">
                  <p class="card_keyword_title">登録キーワード</p>
                  <div class="keyword_item_list">
                    <span class="tags tag_name">R15</span>
                    <span class="tags tag_name">残酷な描写あり</span>
                    <span class="tags tag_name">身分差</span>
                    <span class="tags tag_name">悲恋</span>
                    <span class="tags tag_name">悪役令嬢</span>
                    <span class="tags tag_name">ミステリー</span>
                    <span class="tags tag_name">シリアス</span>
                    <span class="tags tag_name">バッドエンド</span>
                    <span class="tags tag_name">ざまあはない</span>
                    <span class="tags tag_name">婚約破棄</span>
                    <span class="tags tag_name">宮廷魔術師</span>
                    <span class="tags tag_name">ファンタジー</span>
                    <span class="tags tag_name">婚約</span>
                  </div>
                </div>
              </div>
            </div>
            </div>
          </div>
        </div>
      </section>
    </div>
  </main>
  <footer>
    <div class="footer_content">

      <div class="menu_area">
        <nav class="regular">
          <ul>
            <li><a href="/" class="menu_link">ホーム</a></li>
            <li><a href="/analysis" class="menu_link">分析</a></li>
            <li><a href="/ranking" class="menu_link">ランキング</a></li>
            <li><a href="/search" class="menu_link">作品作者検索</a></li>
            <li><a href="/author_list" class="menu_link">作者一覧</a></li>
            <li><a href="/masterpiece_list" class="menu_link">作品一覧</a></li>
            <li><a href="/contact" class="menu_link">お問い合わせ</a></li>
          </ul>
        </nav>
      </div>
      <img class="footer_logo" border="0" src="img/logo.png" alt="logo">
      <p>© 2019 NAROKEN</p>
    </div>
  </footer>
</body>

</html>