<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-N2E060C3LF"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());
        gtag('config', 'G-N2E060C3LF');
    </script>
    <link rel="icon" href="img/favicon.ico">
    <link type="text/css" href="stylesheets/html5reset-1.6.1.css" rel="stylesheet" />
    <link type="text/css" href="stylesheets/common.css" rel="stylesheet" />
    <link type="text/css" href="stylesheets/header.css" rel="stylesheet" />
    <link type="text/css" href="stylesheets/topics.css" rel="stylesheet" />
    <link type="text/css" href="stylesheets/main/index.css" rel="stylesheet" />
    <link type="text/css" href="stylesheets/footer.css" rel="stylesheet" />
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"
        integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/dayjs/1.10.4/dayjs.min.js"
        integrity="sha512-0fcCRl828lBlrSCa8QJY51mtNqTcHxabaXVLPgw/jPA5Nutujh6CbTdDgRzl9aSPYW/uuE7c4SffFUQFBAy6lg=="
        crossorigin="anonymous"></script>
    <script src="/public/javascripts/index.js"></script>
    <title>なろ研｜ホーム</title>
</head>

<body class="top">
    <header>
        <section class="header_content">
            <h1><a href="/"><img src="img/logo.png" alt="なろ研" class="logoImg" /></a></h1>

            <!-- ▼ global-navigation ▼ -->
            <input type="checkbox" id="nav">

            <label for="nav" class="nav-label">
                <span class="nav-icon">
                    <span class="nav-icon_item"></span>
                    <span class="nav-icon_item"></span>
                    <span class="nav-icon_item"></span>
            </label>

            <nav class="nav-list">

                <div class="nav-list_wrap">

                    <div class="nav-list_menu">
                        <ul class="nav-list_items">
                            <li class="nav-list_item"><a class="nav-list_link" href="/">ホーム</a></li>
                            <li class="nav-list_item"><a class="nav-list_link" href="/analysis">分析</a></li>
                            <li class="nav-list_item"><a class="nav-list_link" href="/ranking">ランキング</a></li>
                            <li class="nav-list_item"><a class="nav-list_link" href="/author_list">作者一覧</a></li>
                            <li class="nav-list_item"><a class="nav-list_link" href="/masterpiece_list">作品一覧</a></li>
                            <li class="nav-list_item"><a class="nav-list_link" href="/contact">お問い合わせ</a></li>
                        </ul>
                    </div>
                    <div class="sns_link">
                        <a
                            href="javascript:window.open('http://www.facebook.com/sharer.php?u='+encodeURIComponent(location.href),'sharewindow','width=550, height=450, personalbar=0, toolbar=0, scrollbars=1, resizable=!');">
                            <img src="img/sns/facebook-icon.png" alt="facebook" />
                        </a>
                        <a
                            href="javascript:window.open('http://twitter.com/share?text='+encodeURIComponent(document.title)+'&url='+encodeURIComponent(location.href),'sharewindow','width=550, height=450, personalbar=0, toolbar=0, scrollbars=1, resizable=!');">
                            <img src="img/sns/twitter-icon.png" alt="twitter" />
                        </a>
                        <a
                            href="javascript:window.open('http://line.me/R/msg/text/?'+encodeURIComponent(document.title)+'%20'+encodeURIComponent(location.href),'sharewindow','width=550, height=450, personalbar=0, toolbar=0, scrollbars=1, resizable=!');">
                            <img src="img/sns/line-icon.png" alt="line" />
                        </a>
                    </div>

                </div>

            </nav>

            <!-- ▲ global-navigation ▲ -->

        </section>
    </header>
    <section class="topics_area_index">
        <div class="notice_content">
            <div class="topic_img">
                <div class="topic_img_icon">
                    <img src="img/pen.png" alt="Topics" />
                </div>
            </div>
            <div class="overview top">
                <p>
                    なろ研は現在β版です。</br>
                    当サイトは、<a href="https://syosetu.com/">小説家になろう</a>の<br class="sp-only">非公式応援サイトです。<br>
                    日々のデータを収集し、<br class="sp-only">ランキングやグラフの作成をしています。<br>
                    小説を書く方、読む方に<br class="sp-only">活用されればと思い活動しています。
                </p>
            </div>
            <div class="input_frame">
                <form action="search/result" method="post">
                    <input type="text" name="input_search_text" placeholder="キーワードを入力" class="input_search_text" /><input type="image" alt="submit" src="img/magnifying_glass.png" class="submit_button"/>
                </form>
            </div>
        </div>
    </section>
    <main>
        <div class="main_content">
            <section class="informing_block informing_title">
                <h2>カテゴリ別ランキング</h2>
                <div class="overview">
                    <p>
                        各カテゴリごとにポイントの多い小説を<br class="sp-pnly">ランキング形式で掲載しています。
                    </p>
                    <p id="update_day"></p>
                </div>
            </section>

            <form name="form_show_ranking" action="" method="">
                <!--<input type="hidden" name="id" value=""> -->
            </form>

            <section class="content_area">
                <h3 class="rank_ttl">総合ランキングベスト<span class="rank_number total_font">5</span></h3>
                <div class="content_block" id="toprank_description">

                    <div class="first_rank_view">
                        <div class="first_rank_points">
                            <div class="first_rank_img">
                                <img class="first_crown_img" src="img/crown/first_top.png" alt="crownFirst" />
                                <p class="first_total_rank">1位</p>
                            </div>
                            <div class="first_total_point">
                                <p>635306pt</p>
                            </div>
                        </div>
                        <div class="first_rank_details">
                            <div class="first_rank_details_text">
                                <p><a href="./details/author/679640">とんでもスキルで異世界放浪メシ</a></p>
                            </div>
                            <div class="first_rank_details_data_block">
                                <div class="first_rank_details_data_left_right work_info_font_color">
                                    <p>作者:江口　連</p>
                                </div>
                                <div class="first_rank_details_data_center work_info_font_color">
                                    <p>ハイファンタジー〔ファンタジー〕</p>
                                </div>
                                <div class="first_rank_details_data_left_right work_info_font_color">
                                    <p>Nコード:N2710DB</p>
                                </div>
                            </div>
                        </div>
                    </div>


                    <div class="notfirst_rank_details">

                        <div class="notfirst_rank_details_sub">
                            <div class="notfirst_rank_subordinate">
                                <div class="category_rank_subordinate">
                                    <div class="norfirst_rank_img">
                                        <img class="total_crown_img" id="second_crown_img" border="0"
                                            src="img/crown/second.png" alt="crownFirst" />
                                        <p class="total_ranks_mark">2位</p>
                                    </div>
                                    <div class="norfirst_rank_point second_place">
                                        <p>603088pt</p>
                                    </div>
                                </div>
                                <div class="norfirst_rank_category work_info_font_color">
                                    <p>ハイファンタジー〔ファンタジー〕</p>
                                    <p>Nコード:N8611BV</p>
                                </div>
                            </div>
                            <div class="notfirst_rank_details_text">
                                <p><a href="./details/author/311735">転生したらスライムだった件</a></p>
                            </div>
                            <div class="notfirst_rank_details_name work_info_font_color">
                                <p>作者:伏瀬</p>
                            </div>
                        </div>

                        <div class="notfirst_rank_details_sub">
                            <div class="notfirst_rank_subordinate">
                                <div class="category_rank_subordinate">
                                    <div class="norfirst_rank_img">
                                        <img class="total_crown_img" id="second_crown_img" border="0"
                                            src="img/crown/third.png" alt="crownFirst" />
                                        <p class="total_ranks_mark">3位</p>
                                    </div>
                                    <div class="norfirst_rank_point third_place">
                                        <p>598955pt</p>
                                    </div>
                                </div>
                                <div class="norfirst_rank_category work_info_font_color">
                                    <p>ハイファンタジー〔ファンタジー〕</p>
                                    <p>Nコード:N8611BV</p>
                                </div>
                            </div>
                            <div class="notfirst_rank_details_text">
                                <p><a href="./details/author/386841">ありふれた職業で世界最強</a></p>
                            </div>
                            <div class="notfirst_rank_details_name work_info_font_color">
                                <p>作者:厨二好き/白米良</p>
                            </div>
                        </div>

                        <div class="notfirst_rank_details_sub">
                            <div class="notfirst_rank_subordinate">
                                <div class="category_rank_subordinate">
                                    <div class="norfirst_rank_img">
                                        <img class="total_crown_img" id="second_crown_img" border="0"
                                            src="img/square/total_square.png" alt="crownFirst" />
                                        <p class="total_ranks_mark_unnamed">4位</p>
                                    </div>
                                    <div class="norfirst_rank_point_unnamed four_five_place">
                                        <p>554495pt</p>
                                    </div>
                                </div>
                                <div class="norfirst_rank_category_unnamed work_info_font_color">
                                    <p>ハイファンタジー〔ファンタジー〕</p>
                                    <p>Nコード:N8611BV</p>
                                </div>
                            </div>
                            <div class="notfirst_rank_details_text">
                                <p><a href="./details/author/288399">無職転生　- 異世界行ったら本気だす -</a></p>
                            </div>
                            <div class="notfirst_rank_details_name work_info_font_color">
                                <p>作者:理不尽な孫の手</p>
                            </div>
                        </div>

                        <div class="notfirst_rank_details_sub">
                            <div class="notfirst_rank_subordinate">
                                <div class="category_rank_subordinate">
                                    <div class="norfirst_rank_img">
                                        <img class="total_crown_img" id="second_crown_img" border="0"
                                            src="img/square/total_square.png" alt="crownFirst" />
                                        <p class="total_ranks_mark_unnamed">5位</p>
                                    </div>
                                    <div class="norfirst_rank_point_unnamed four_five_place">
                                        <p>541408pt</p>
                                    </div>
                                </div>
                                <div class="norfirst_rank_category_unnamed work_info_font_color">
                                    <p>ハイファンタジー〔ファンタジー〕</p>
                                    <p>Nコード:N8611BV</p>
                                </div>
                            </div>
                            <div class="notfirst_rank_details_text">
                                <p><a href="./details/author/235132">Ｒｅ：ゼロから始める異世界生活</a></p>
                            </div>
                            <div class="notfirst_rank_details_name work_info_font_color">
                                <p>作者:鼠色猫/長月達平</p>
                            </div>
                        </div>

                    </div>
                    <div class="link link_total">
                        <input type="button" id="total_rank_button" class="link_button" value="総合ランキングをもっと見る"
                            onclick="postRankview(0)" />
                    </div>
                </div>
            </section>

            <!-- 恋愛ランキング -->
            <section class="content_area category_rank">
                <h3 class="rank_ttl">恋愛ランキングベスト<span class="rank_number love_font">3</span></h3>
                <div class="content_block rank_card love_font">

                    <div class="category_rank_card">
                        <div class="category_rank_meta">
                            <div class="category_rank_subordinate">
                                <div class="category_rank_img">
                                    <img class="category_crown_img" border="0" src="img/crown/love.png"
                                        alt="crown_love" />
                                    <p class="category_ranks_mark">1位</p>
                                </div>
                                <div class="category_rank_point">
                                    <p class="notfirst_total_point ">378281pt</p>
                                </div>
                            </div>
                            <div class=" category_rank_category work_info_font_color">
                                <p>異世界〔恋愛〕</p>
                                <p>Nコード:N7787EQ</p>
                            </div>
                        </div>
                        <div class="category_rank_details_text">
                            <p><a href="./details/author/1300935">魔導具師ダリヤはうつむかない</a></p>
                        </div>
                        <div class="category_rank_author work_info_font_color">
                            <div class="category_rank_author_name">
                                <p>作者:</p>
                            </div>
                            <div class="category_rank_author_detail">
                                <p>甘岸久弥</p>
                            </div>
                        </div>
                    </div>

                    <div class="category_rank_card">
                        <div class="category_rank_meta">
                            <div class="category_rank_subordinate">
                                <div class="category_rank_img">
                                    <img class="category_crown_img" border="0" src="img/crown/love.png"
                                        alt="crown_love" />
                                    <p class="category_ranks_mark">2位</p>
                                </div>
                                <div class="category_rank_point">
                                    <p class="notfirst_total_point ">375516pt</p>
                                </div>
                            </div>
                            <div class=" category_rank_category work_info_font_color">
                                <p>現実世界〔恋愛〕</p>
                                <p>Nコード:N4029BS</p>
                            </div>
                        </div>
                        <div class="category_rank_details_text">
                            <p><a href="./details/author/345745">謙虚、堅実をモットーに生きております！</a></p>
                        </div>
                        <div class="category_rank_author work_info_font_color">
                            <div class="category_rank_author_name">
                                <p>作者:</p>
                            </div>
                            <div class="category_rank_author_detail">
                                <p>ひよこのケーキ</p>
                            </div>
                        </div>
                    </div>

                    <div class="category_rank_card">
                        <div class="category_rank_meta">
                            <div class="category_rank_subordinate">
                                <div class="category_rank_img">
                                    <img class="category_crown_img" border="0" src="img/crown/love.png"
                                        alt="crown_love" />
                                    <p class="category_ranks_mark">3位</p>
                                </div>
                                <div class="category_rank_point">
                                    <p class="notfirst_total_point ">393961pt</p>
                                </div>
                            </div>
                            <div class=" category_rank_category work_info_font_color">
                                <p>異世界〔恋愛〕</p>
                                <p>Nコード:N8139DG</p>
                            </div>
                        </div>
                        <div class="category_rank_details_text">
                            <p><a href="./details/author/608811">聖女の魔力は万能です</a></p>
                        </div>
                        <div class="category_rank_author work_info_font_color">
                            <div class="category_rank_author_name">
                                <p>作者:</p>
                            </div>
                            <div class="category_rank_author_detail">
                                <p>橘由華</p>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="link link_love">
                    <input type="button" id="total_rank_button" class="link_button" value="恋愛ランキングをもっと見る"
                        onclick="postRankview(1)" />
                </div>
            </section>
            <!-- ファンタジーランキング -->
            <section class="content_area category_rank">
                <h3 class="rank_ttl rank_ttl_long"><span>ファンタジーランキング</span><span>ベスト<span
                            class="rank_number fantasy_font">3</span></span>
                </h3>
                <div class="content_block rank_card  fantasy_font">

                    <div class="category_rank_card">
                        <div class="category_rank_meta">
                            <div class="category_rank_subordinate">
                                <div class="category_rank_img">
                                    <img class="category_crown_img" border="0" src="img/crown/fantasy.png"
                                        alt="crown_love" />
                                    <p class="category_ranks_mark">1位</p>
                                </div>
                                <div class="category_rank_point">
                                    <p class="notfirst_total_point">598955pt</p>
                                </div>
                            </div>
                            <div class="category_rank_category work_info_font_color">
                                <p>ハイファンタジー〔ファンタジー〕</p>
                                <p>Nコード:N8611BV</p>
                            </div>
                        </div>
                        <div class="category_rank_details_text">
                            <p><a href="./details/author/386841">ありふれた職業で世界最強</a></p>
                        </div>
                        <div class="category_rank_author work_info_font_color">
                            <div class="category_rank_author_name">
                                <p>作者:</p>
                            </div>
                            <div class="category_rank_author_detail">
                                <p>厨二好き/白米良</p>
                            </div>
                        </div>
                    </div>

                    <div class="category_rank_card">
                        <div class="category_rank_meta">
                            <div class="category_rank_subordinate">
                                <div class="category_rank_img">
                                    <img class="category_crown_img" border="0" src="img/crown/fantasy.png"
                                        alt="crown_love" />
                                    <p class="category_ranks_mark">2位</p>
                                </div>
                                <div class="category_rank_point">
                                    <p class="notfirst_total_point">635306pt</p>
                                </div>
                            </div>
                            <div class="category_rank_category work_info_font_color">
                                <p>ハイファンタジー〔ファンタジー〕</p>
                                <p>Nコード:N2710DB</p>
                            </div>
                        </div>
                        <div class="category_rank_details_text">
                            <p><a href="./details/author/679640">とんでもスキルで異世界放浪メシ</a></p>
                        </div>
                        <div class="category_rank_author work_info_font_color">
                            <div class="category_rank_author_name">
                                <p>作者:</p>
                            </div>
                            <div class="category_rank_author_detail">
                                <p>江口　連</p>
                            </div>
                        </div>
                    </div>

                    <div class="category_rank_card">
                        <div class="category_rank_meta">
                            <div class="category_rank_subordinate">
                                <div class="category_rank_img">
                                    <img class="category_crown_img" border="0" src="img/crown/fantasy.png"
                                        alt="crown_love" />
                                    <p class="category_ranks_mark">3位</p>
                                </div>
                                <div class="category_rank_point">
                                    <p class="notfirst_total_point">603088pt</p>
                                </div>
                            </div>
                            <div class="category_rank_category work_info_font_color">
                                <p>ハイファンタジー〔ファンタジー〕</p>
                                <p>Nコード:N6316BN</p>
                            </div>
                        </div>
                        <div class="category_rank_details_text">
                            <p><a href="./details/author/311735">転生したらスライムだった件</a></p>
                        </div>
                        <div class="category_rank_author work_info_font_color">
                            <div class="category_rank_author_name">
                                <p>作者:</p>
                            </div>
                            <div class="category_rank_author_detail">
                                <p>伏瀬</p>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="link link_fantasy">
                    <input type="button" id="fantasy_rank_button" class="link_button link_long-text"
                        value="ファンタジーランキングをもっと見る" onclick="postRankview(2)" />
                </div>
            </section>

            <!-- 文芸ランキング -->
            <section class="content_area category_rank">
                <h3 class="rank_ttl">文芸ランキングベスト<span class="rank_number literary_font">3</span></h3>
                <div class="content_block rank_card literary_font">

                    <div class="category_rank_card">
                        <div class="category_rank_meta">
                            <div class="category_rank_subordinate">
                                <div class="category_rank_img">
                                    <img class="category_crown_img" border="0" src="img/crown/literary.png"
                                        alt="crown_love" />
                                    <p class="category_ranks_mark">1位</p>
                                </div>
                                <div class="category_rank_point">
                                    <p class="notfirst_total_point">277041pt</p>
                                </div>
                            </div>
                            <div class="category_rank_category work_info_font_color">
                                <p>コメディー〔文芸〕</p>
                                <p>Nコード:N5691DD</p>
                            </div>
                        </div>
                        <div class="category_rank_details_text">
                            <p><a href="./details/author/160125">即死チートが最強すぎて、異世界のやつらがまるで相手にならないんですが。</a></p>
                        </div>
                        <div class="category_rank_author work_info_font_color">
                            <div class="category_rank_author_name">
                                <p>作者:</p>
                            </div>
                            <div class="category_rank_author_detail">
                                <p>藤孝剛志</p>
                            </div>
                        </div>
                    </div>

                    <div class="category_rank_card">
                        <div class="category_rank_meta">
                            <div class="category_rank_subordinate">
                                <div class="category_rank_img">
                                    <img class="category_crown_img" border="0" src="img/crown/literary.png"
                                        alt="crown_love" />
                                    <p class="category_ranks_mark">2位</p>
                                </div>
                                <div class="category_rank_point">
                                    <p class="notfirst_total_point">195477pt</p>
                                </div>
                            </div>
                            <div class="category_rank_category work_info_font_color">
                                <p>アクション〔文芸〕</p>
                                <p>Nコード:N3830DD</p>
                            </div>
                        </div>
                        <div class="category_rank_details_text">
                            <p><a href="./details/author/726225">村人ですが何か？（ウェブ版）</a></p>
                        </div>
                        <div class="category_rank_author work_info_font_color">
                            <div class="category_rank_author_name">
                                <p>作者:</p>
                            </div>
                            <div class="category_rank_author_detail">
                                <p>白石新</p>
                            </div>
                        </div>
                    </div>

                    <div class="category_rank_card">
                        <div class="category_rank_meta">
                            <div class="category_rank_subordinate">
                                <div class="category_rank_img">
                                    <img class="category_crown_img" border="0" src="img/crown/literary.png"
                                        alt="crown_love" />
                                    <p class="category_ranks_mark">3位</p>
                                </div>
                                <div class="category_rank_point">
                                    <p class="notfirst_total_point">353208pt</p>
                                </div>
                            </div>
                            <div class="category_rank_category work_info_font_color">
                                <p>推理〔文芸〕</p>
                                <p>Nコード:N9636X</p>
                            </div>
                        </div>
                        <div class="category_rank_details_text">
                            <p><a href="./details/author/183213">薬屋のひとりごと</a></p>
                        </div>
                        <div class="category_rank_author work_info_font_color">
                            <div class="category_rank_author_name">
                                <p>作者:</p>
                            </div>
                            <div class="category_rank_author_detail">
                                <p>日向夏</p>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="link link_literary">
                    <input type="button" id="literary_rank_button" class="link_button" value="文芸ランキングをもっと見る"
                        onclick="postRankview(3)" />
                </div>
            </section>
            <!-- SFランキング -->
            <section class="content_area category_rank">
                <h3 class="rank_ttl">SFランキングベスト<span class="rank_number sf_font">3</span></h3>
                <div class="content_block rank_card sf_font">

                    <div class="category_rank_card">
                        <div class="category_rank_meta">
                            <div class="category_rank_subordinate">
                                <div class="category_rank_img">
                                    <img class="category_crown_img" border="0" src="img/crown/sf.png"
                                        alt="crown_love" />
                                    <p class="category_ranks_mark">1位</p>
                                </div>
                                <div class="category_rank_point">
                                    <p class="notfirst_total_point">276918pt</p>
                                </div>
                            </div>
                            <div class="category_rank_category work_info_font_color">
                                <p>VRゲーム〔SF〕</p>
                                <p>Nコード:N0358DH</p>
                            </div>
                        </div>
                        <div class="category_rank_details_text">
                            <p><a href="./details/author/590376">痛いのは嫌なので防御力に極振りしたいと思います。</a></p>
                        </div>
                        <div class="category_rank_author work_info_font_color">
                            <div class="category_rank_author_name">
                                <p>作者:</p>
                            </div>
                            <div class="category_rank_author_detail">
                                <p>夕蜜柑</p>
                            </div>
                        </div>
                    </div>

                    <div class="category_rank_card">
                        <div class="category_rank_meta">
                            <div class="category_rank_subordinate">
                                <div class="category_rank_img">
                                    <img class="category_crown_img" border="0" src="img/crown/sf.png"
                                        alt="crown_love" />
                                    <p class="category_ranks_mark">2位</p>
                                </div>
                                <div class="category_rank_point">
                                    <p class="notfirst_total_point">350315pt</p>
                                </div>
                            </div>
                            <div class="category_rank_category work_info_font_color">
                                <p>VRゲーム〔SF〕</p>
                                <p>Nコード:N6169DZ</p>
                            </div>
                        </div>
                        <div class="category_rank_details_text">
                            <p><a href="./details/author/474038">シャングリラ・フロンティア〜クソゲーハンター、神ゲーに挑まんとす〜</a></p>
                        </div>
                        <div class="category_rank_author work_info_font_color">
                            <div class="category_rank_author_name">
                                <p>作者:</p>
                            </div>
                            <div class="category_rank_author_detail">
                                <p>硬梨菜</p>
                            </div>
                        </div>
                    </div>

                    <div class="category_rank_card">
                        <div class="category_rank_meta">
                            <div class="category_rank_subordinate">
                                <div class="category_rank_img">
                                    <img class="category_crown_img" border="0" src="img/crown/sf.png"
                                        alt="crown_love" />
                                    <p class="category_ranks_mark">3位</p>
                                </div>
                                <div class="category_rank_point">
                                    <p class="notfirst_total_point">295377pt</p>
                                </div>
                            </div>
                            <div class="category_rank_category work_info_font_color">
                                <p>宇宙〔SF〕</p>
                                <p>Nコード:N1976EY</p>
                            </div>
                        </div>
                        <div class="category_rank_details_text">
                            <p><a href="./details/author/218376">俺は星間国家の悪徳領主！</a></p>
                        </div>
                        <div class="category_rank_author work_info_font_color">
                            <div class="category_rank_author_name">
                                <p>作者:</p>
                            </div>
                            <div class="category_rank_author_detail">
                                <p>三嶋　与夢</p>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="link link_sf">
                    <input type="button" id="sf_rank_button" class="link_button" value="SFランキングをもっと見る"
                        onclick="postRankview(4)" />
                </div>
            </section>
            <!-- その他ランキング -->
            <section class="content_area category_rank">
                <h3 class="rank_ttl">その他ランキングベスト<span class="rank_number other_font">3</span></h3>
                <div class="content_block rank_card other_font">

                    <div class="category_rank_card">
                        <div class="category_rank_meta">
                            <div class="category_rank_subordinate">
                                <div class="category_rank_img">
                                    <img class="category_crown_img" border="0" src="img/crown/other.png"
                                        alt="crown_love" />
                                    <p class="category_ranks_mark">1位</p>
                                </div>
                                <div class="category_rank_point">
                                    <p class="notfirst_total_point">57745pt</p>
                                </div>
                            </div>
                            <div class="category_rank_category work_info_font_color">
                                <p>その他〔その他〕</p>
                                <p>Nコード:N9924BW</p>
                            </div>
                        </div>
                        <div class="category_rank_details_text">
                            <p><a href="./details/author/396651">悪の組織の求人広告</a></p>
                        </div>
                        <div class="category_rank_author work_info_font_color">
                            <div class="category_rank_author_name">
                                <p>作者:</p>
                            </div>
                            <div class="category_rank_author_detail">
                                <p>Q7／喜友名トト</p>
                            </div>
                        </div>
                    </div>

                    <div class="category_rank_card">
                        <div class="category_rank_meta">
                            <div class="category_rank_subordinate">
                                <div class="category_rank_img">
                                    <img class="category_crown_img" border="0" src="img/crown/other.png"
                                        alt="crown_love" />
                                    <p class="category_ranks_mark">2位</p>
                                </div>
                                <div class="category_rank_point">
                                    <p class="notfirst_total_point">109104pt</p>
                                </div>
                            </div>
                            <div class="category_rank_category work_info_font_color">
                                <p>その他〔その他〕</p>
                                <p>Nコード:N0579DC</p>
                            </div>
                        </div>
                        <div class="category_rank_details_text">
                            <p><a href="./details/author/164671">異世界コンサル株式会社（旧題：冒険者パーティーの経営を支援します！！）</a></p>
                        </div>
                        <div class="category_rank_author work_info_font_color">
                            <div class="category_rank_author_name">
                                <p>作者:</p>
                            </div>
                            <div class="category_rank_author_detail">
                                <p>ダイスケ</p>
                            </div>
                        </div>
                    </div>

                    <div class="category_rank_card">
                        <div class="category_rank_meta">
                            <div class="category_rank_subordinate">
                                <div class="category_rank_img">
                                    <img class="category_crown_img" border="0" src="img/crown/other.png"
                                        alt="crown_love" />
                                    <p class="category_ranks_mark">3位</p>
                                </div>
                                <div class="category_rank_point">
                                    <p class="notfirst_total_point">108528pt</p>
                                </div>
                            </div>
                            <div class="category_rank_category work_info_font_color">
                                <p>その他〔その他〕</p>
                                <p>Nコード:N6247DD</p>
                            </div>
                        </div>
                        <div class="category_rank_details_text">
                            <p><a href="./details/author/602510">魔王軍最強の魔術師は人間だった</a></p>
                        </div>
                        <div class="category_rank_author work_info_font_color">
                            <div class="category_rank_author_name">
                                <p>作者:</p>
                            </div>
                            <div class="category_rank_author_detail">
                                <p>羽田遼亮</p>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="link link_other">
                    <input type="button" id="other_rank_button" class="link_button" value="その他ランキングをもっと見る"
                        onclick="postRankview(99)" />
                </div>
            </section>
            <!-- ノンジャンルランキング -->
            <section class="content_area category_rank">
                <h3 class="rank_ttl rank_ttl_long"><span>ノンジャンルランキング</span><span>ベスト<span
                            class="rank_number nonGenre_font">3</span></span></h3>
                <div class="content_block rank_card nonGenre_font">

                    <div class="category_rank_card">
                        <div class="category_rank_meta">
                            <div class="category_rank_subordinate">
                                <div class="category_rank_img">
                                    <img class="category_crown_img" border="0" src="img/crown/non-genre.png"
                                        alt="crown_love" />
                                    <p class="category_ranks_mark">1位</p>
                                </div>
                                <div class="category_rank_point">
                                    <p class="notfirst_total_point">105030pt</p>
                                </div>
                            </div>
                            <div class="category_rank_category work_info_font_color">
                                <p>ノンジャンル〔ノンジャンル〕</p>
                                <p>Nコード:105030</p>
                            </div>
                        </div>
                        <div class="category_rank_details_text">
                            <p><a href="./details/author/75416">先代勇者は隠居したい(仮題)</a></p>
                        </div>
                        <div class="category_rank_author work_info_font_color">
                            <div class="category_rank_author_name">
                                <p>作者:</p>
                            </div>
                            <div class="category_rank_author_detail">
                                <p>タピオカ</p>
                            </div>
                        </div>
                    </div>

                    <div class="category_rank_card">
                        <div class="category_rank_meta">
                            <div class="category_rank_subordinate">
                                <div class="category_rank_img">
                                    <img class="category_crown_img" border="0" src="img/crown/non-genre.png"
                                        alt="crown_love" />
                                    <p class="category_ranks_mark">2位</p>
                                </div>
                                <div class="category_rank_point">
                                    <p class="notfirst_total_point">90619pt</p>
                                </div>
                            </div>
                            <div class="category_rank_category work_info_font_color">
                                <p>ノンジャンル〔ノンジャンル〕</p>
                                <p>Nコード:90619</p>
                            </div>
                        </div>
                        <div class="category_rank_details_text">
                            <p><a href="./details/author/324781">多神の加護</a></p>
                        </div>
                        <div class="category_rank_author work_info_font_color">
                            <div class="category_rank_author_name">
                                <p>作者:</p>
                            </div>
                            <div class="category_rank_author_detail">
                                <p>masanimasa</p>
                            </div>
                        </div>
                    </div>

                    <div class="category_rank_card">
                        <div class="category_rank_meta">
                            <div class="category_rank_subordinate">
                                <div class="category_rank_img">
                                    <img class="category_crown_img" border="0" src="img/crown/non-genre.png"
                                        alt="crown_love" />
                                    <p class="category_ranks_mark">3位</p>
                                </div>
                                <div class="category_rank_point">
                                    <p class="notfirst_total_point">203448pt</p>
                                </div>
                            </div>
                            <div class="category_rank_category work_info_font_color">
                                <p>ノンジャンル〔ノンジャンル〕</p>
                                <p>Nコード:203448</p>
                            </div>
                        </div>
                        <div class="category_rank_details_text">
                            <p><a href="./details/author/76491">ログ・ホライズン</a></p>
                        </div>
                        <div class="category_rank_author work_info_font_color">
                            <div class="category_rank_author_name">
                                <p>作者:</p>
                            </div>
                            <div class="category_rank_author_detail">
                                <p>橙乃ままれ</p>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="link link_non-genre">
                    <input type="button" id="non-genre_rank_button" class="link_button link_long-text"
                        value="ノンジャンルランキングをもっと見る" onclick="postRankview(98)" />
                </div>
            </section>
        </div>
    </main>
    <footer>
        <div class="footer_content">

            <div class="menu_area">
                <nav class="regular">
                    <ul>
                        <li><a href="index.html" class="menu_link">ホーム</a></li>
                        <li><a href="analysis.html" class="menu_link">分析</a></li>
                        <li><a href="ranking.html" class="menu_link">ランキング</a></li>
                        <li><a href="author_list.html" class="menu_link">作者一覧</a></li>
                        <li><a href="masterpiece_list.html" class="menu_link">作品一覧</a></li>
                        <li><a href="contact.html" class="menu_link">お問い合わせ</a></li>
                    </ul>
                </nav>
            </div>
            <img class="footer_logo" border="0" src="img/logo.png" alt="logo">
            <p>© 2019 NAROKEN</p>
        </div>
    </footer>
</body>

</html>