.notice_content{
  max-width: 1200px;
  margin: 0 auto;
  padding: 40px 0 56px;
}
.topic_img {
  position: relative;
  text-align: center;
  margin-bottom: 16px;
}
.topic_img_icon {
  display: inline-block;
  position: relative;
  width: 35px;
}
.topic_img_icon img {
  width: 100%;
}
.topic_img_icon::before,
.topic_img_icon::after{
	content: '';
	position: absolute;
	top: 35%;
	display: inline-block;
	width: 32px;
	height: 3px;
	border-top: 2px solid #669ff7;
}
.topic_img_icon::before{
	left: 120%;
}
.topic_img_icon::after{
	right: 120%;
}

@media only screen and (max-width: 750px) {
  .notice_content {
    width: 100%;
    padding: 28px 0 40px;
  }
}