<section class="informing_block informing_title">
  <h2>カテゴリ別ランキング</h2>
  <div class="overview">
    <p>
      各カテゴリごとにポイントの多い小説を<br class="sp-pnly">ランキング形式で掲載しています。
    </p>
    <p id="update_day"></p>
  </div>
</section>