<div class="footer_content">
  <div class="menu_area">
    <nav class="regular">
      <ul>
        <li><a href="index.html" class="menu_link">ホーム</a></li>
        <li><a href="analysis.html" class="menu_link">分析</a></li>
        <li><a href="ranking.html" class="menu_link">ランキング</a></li>
        <li><a href="author_list.html" class="menu_link">作者一覧</a></li>
        <li><a href="masterpiece_list.html" class="menu_link">作品一覧</a></li>
        <li><a href="contact.html" class="menu_link">お問い合わせ</a></li>
      </ul>
    </nav>
  </div>
  <img class="footer_logo" border="0" src="/img/logo.png" alt="logo">
  <p>© 2019 NAROKEN</p>
</div>