<div class="notice_content">
  <div class="topic_img">
    <div class="topic_img_icon">
      <img src="img/pen.png" alt="Topics" />
    </div>
  </div>
  <div class="overview top">
    <p>
      なろ研は現在β版です。</br>
      当サイトは、<a href="https://syosetu.com/">小説家になろう</a>の<br class="sp-only">非公式応援サイトです。<br>
      日々のデータを収集し、<br class="sp-only">ランキングやグラフの作成をしています。<br>
      小説を書く方、読む方に<br class="sp-only">活用されればと思い活動しています。
    </p>
  </div>
  <div class="input_frame">
    <form action="search/result" method="post">
      <input type="text" name="input_search_text" placeholder="キーワードを入力" class="input_search_text" /><input
        type="image" alt="submit" src="img/magnifying_glass.png" class="submit_button" />
    </form>
  </div>
</div>