<div class="category_tab_area tab_total">
  <!-- 総合 -->
  <select class="category_tab" name="category_tab">
    <!-- class各ジャンルごとに変更-->
    <option class="category_tab_item" value="total">総合</option>
    <option class="category_tab_item" value="1">恋愛</option>
    <option class="category_tab_item" value="2">ファンタジー</option>
    <option class="category_tab_item" value="3">文芸</option>
    <option class="category_tab_item" value="4">SF</option>
    <option class="category_tab_item" value="99">その他</option>
    <option class="category_tab_item" value="98">ノンジャンル</option>
  </select>
</div>
<div class="category_tab_area tab_love">
  <!-- 恋愛 -->
  <select class="genre_tab" name="genre_tab">
    <!-- class各ジャンルごとに変更-->
    <option class="category_tab_item" value="1">恋愛</option>
    <option class="category_tab_item" value="101">異世界</option>
    <option class="category_tab_item" value="102">現実世界</option>
  </select>
</div>
<div class="category_tab_area tab_fantasy">
  <!-- ファンタジー -->
  <select class="genre_tab" name="genre_tab">
    <!-- class各ジャンルごとに変更-->
    <option class="category_tab_item" value="2">ファンタジー</option>
    <option class="category_tab_item" value="201">ハイファンタジー</option>
    <option class="category_tab_item" value="202">ローファンタジー</option>
  </select>
</div>
<div class="category_tab_area tab_literary">
  <!-- 文芸 -->
  <select class="genre_tab" name="genre_tab">
    <!-- class各ジャンルごとに変更-->
    <option class="category_tab_item" value="3">文芸</option>
    <option class="category_tab_item" value="301">純文学</option>
    <option class="category_tab_item" value="302">ヒューマンドラマ</option>
    <option class="category_tab_item" value="303">歴史</option>
    <option class="category_tab_item" value="304">推理</option>
    <option class="category_tab_item" value="305">ホラー</option>
    <option class="category_tab_item" value="306">アクション</option>
    <option class="category_tab_item" value="307">コメディー</option>
  </select>
</div>
<div class="category_tab_area tab_sf">
  <!-- SF -->
  <select class="genre_tab" name="genre_tab">
    <!-- class各ジャンルごとに変更-->
    <option class="category_tab_item" value="4">SF</option>
    <option class="category_tab_item" value="401">VRゲーム</option>
    <option class="category_tab_item" value="402">宇宙</option>
    <option class="category_tab_item" value="403">空想科学</option>
    <option class="category_tab_item" value="404">パニック</option>
  </select>
</div>
<div class="category_tab_area tab_other">
  <!-- その他 -->
  <select class="genre_tab" name="genre_tab">
    <!-- class各ジャンルごとに変更-->
    <option class="category_tab_item" value="99">その他</option>
    <option class="category_tab_item" value="9901">童話</option>
    <option class="category_tab_item" value="9902">詩</option>
    <option class="category_tab_item" value="9903">エッセイ</option>
    <option class="category_tab_item" value="9904">リプレイ</option>
    <option class="category_tab_item" value="9999">その他</option>
  </select>
</div>
<div class="category_tab_area tab_non-genre">
  <!-- ノンジャンル -->
  <select class="genre_tab" name="genre_tab">
    <!-- class各ジャンルごとに変更-->
    <option class="category_tab_item" value="98">ノンジャンル</option>
    <option class="category_tab_item" value="9801">ノンジャンル</option>
  </select>
</div>